@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --salmao: #F8AFB6;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    height: 200px;
}

header h1 {
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    color: var(--salmao);
    font-size: 56px;
}

header h3 {
    font-weight: normal;
}

header h3 > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header h3 a:hover {
    color: var(--salmao);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    height: fit-content;
}

footer h3 {
    font-weight: normal;
}

footer h3 > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer h3 a:hover {
    color: var(--salmao);
}

main div > p {
    font-size: 36px;
}